/*******************************************
	Argo style sheet
	Some bits borrowed from Twitter bootstrap (http://twitter.github.com/bootstrap/)
********************************************/

$sidebar-width: 240px;

body {
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

html, body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #bfbfbf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #404040;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  line-height: 27px;
  font-size: 18px;
}

h3 small {
  font-size: 14px;
	display: block;
}

h4 {
  font-size: 16px;
  line-height: 36px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 13px;
  line-height: 18px;
  color: #bfbfbf;
  text-transform: uppercase;
}

/**
 * Input
**/
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  padding: 4px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}	

/**
 * Layout
**/

.fluid-container {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	zoom: 1;
}
	
.fluid-container:before, .fluid-container:after {
	display: table;
	*display: inline;
	content: "";
	zoom: 1;
}
	
.fluid-container:after {
  clear: both;
}

.fluid-sidebar-left, .fluid-sidebar-right {
  width: $sidebar-width - 20;
}

.fluid-sidebar-left {
  float: left;
}

.fluid-sidebar-right {
  float: right;
}

.fluid-content {
  margin-left: $sidebar-width;
	position: relative;
}

.fluid-container.reverse .fluid-content {
  margin-left: 0;
  margin-right: $sidebar-width;
}

.fixed {
	position: fixed;
}